//start-screen start

.start-screen-wrapper {
  height: 800px;
  background-image: url(../img/start-screen-background.png);
  background-size: cover;
  background-repeat: no-repeat;

  &__subtitle {
    padding-top: 140px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $gray-900;
    margin-bottom: 12px;
  }
  &__title {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 130%;
    align-items: center;
    letter-spacing: 1px;
    color: $gray-900;
    margin-bottom: 60px;
  }
  &__shop-sale {
    width: 152px;
    height: 52px;
    border: 1px solid $green-primary;
    border-radius: 4px;
    background-color: #fce2d3;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: $green-primary;
    margin-right: 24px;
  }
  &__shop-meanswear {
    width: 229px;
    height: 52px;
    background: $green-primary;
    border-radius: 4px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #ffffff;
  }
}

.start-screen-slider {
  position: relative;
}
.start-screen-slider-item {
  width: 100% !important;
  min-width: 0;
}
.slick-track {
  display: flex;
  justify-content: space-between;
}

.start-screen-slider .slick-arrow {
  position: absolute;
  font-size: 0;
  z-index: 10;
  content: "";
  width: 48px;
  height: 48px;
  top: 50%;
}
.start-screen-slider .slick-arrow.slick-prev {
  left: 32px;
  background: url(../img/icons/slider-prev-btn.svg);
}
.start-screen-slider .slick-arrow.slick-next {
  right: 32px;
  background: url(../img/icons/slider-next-button.svg);
}

.start-screen-slider .slick-dots {
  display: flex;
  // justify-content: center;
  align-items: center;
  position: absolute;
  top: 596px;
  left: 9.5%;
}
.start-screen-slider .slick-dots button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: $gray-800;
  margin-right: 50px;
  background-color: transparent;
  padding-bottom: 12px;
  border-bottom: 2px solid #424551;
  opacity: 0.3;
  width: 178px;
  left: 10px;
}

.start-screen-slider .slick-dots li.slick-active button {
  opacity: 1;
}

//start-screen end

//main-screen-screens starts
.main-screen-screens {
  position: relative;
  margin-top: -50px;
  z-index: 15 !important;
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;

  &__subtitle {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: $gray-800;
    padding-top: 16px;
  }
}

//main-screen-screens end

//new arrivals start
.new-arrivals {
  margin-bottom: 180px;
  &__title {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: $gray-900;
    text-align: center;
    margin-bottom: 24px;
  }
  &__subtitle {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: $gray-700;
  }
  &__link {
    display: block;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    text-decoration-line: underline;
    color: $green-primary;
  }
}

.new-arrivals-slider {
  margin-top: 60px;
  position: relative;
}

.new-arrivals-slider-item {
  position: relative;
  margin-right: 30px;
  &__rating {
    position: absolute;
    top: 16px;
    // right: 10%;
    // left: 0;
    padding-left: 183px;
  }
  &__like {
    content: "";
    position: absolute;
    background: url(../img/icons/main-menu-like.svg);
    width: 32px;
    height: 32px;
    right: 0;
    top: 280px;
  }
}

.new-arrivals-slider .slick-arrow {
  font-size: 0;
}

.new-arrivals-slider .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.new-arrivals-slider .slick-dots li.slick-active button {
  //active slider
  border: 2px solid $gray-800 !important;
}

.new-arrivals-slider .slick-dots button {
  display: block;
  font-size: 0px;
  width: 30px;
  margin-right: 12px;
  border: 2px solid $gray-500;
}

//new arrivals end

//banners start
.banners-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.banners-container-item--summer {
  background: url(../img/banners-summer-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 80%;
  margin-bottom: 16px;
}
.banners-container-item--deal-of-weak {
  background: url(../img/banners-deal-of-weak-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin-left: -18%;
}
.banners-container-item--collection {
  background: url(../img/banners-new-collection-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin-right: -18%;
}
.banners-container-item--subscribers {
  background: url(../img/banners-subscribe-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 80%;
  margin-left: 20%;
}
.banners-container-item {
  &__subtitle {
    padding-top: 60px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $gray-900;
    margin-bottom: 12px;
    padding-left: 60px;
  }
  &__title {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    align-items: center;
    color: $gray-900;
    margin-bottom: 40px;
    padding-left: 60px;
  }
  &__button {
    height: 44px;
    border: 1px solid $green-primary;
    border-radius: 4px;
    margin-left: 60px;
    background: transparent;
  }
  &__button--summer {
    width: 190px;
  }
  &__button--weak {
    width: 130px;
  }
  &__button--collection {
    width: 155px;
    position: relative;
  }
  &__button--collection::before {
    content: "";
    position: absolute;
    background: url(../img/icons/banners-right.svg);
    width: 16px;
    height: 16px;
    right: 15px;
    top: 35%;
  }
  &__link {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: $green-primary;
  }
  &__offer {
    padding-top: 79px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $gray-900;
    padding-left: 60px;
    margin-bottom: 12px;
  }
  &__number {
    display: flex;
    margin-left: 60px;
  }
  &__number-current {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    align-items: center;
    color: $gray-900;
    padding-right: 24px;
  }
  &__time {
    display: flex;
    margin-left: 60px;
  }
  &__time-current {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    align-items: center;
    color: $gray-900;
    padding-right: 24px;
  }
  &__label {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $gray-800;
    padding-left: 60px;
    margin-bottom: 8px;
    display: block;
  }
  &__input {
    margin-top: 20px;
    width: 230px;
    height: 44px;
    background: #ffffff;
    border: 1px solid $gray-400;
    border-radius: 4px;
    margin-left: 60px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $gray-600;
    padding-left: 16px;
  }
  &__subscribe-button {
    width: 130px;
    height: 44px;
    background: $green-primary;
    border-radius: 0px 4px 4px 0px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #ffffff;
  }
  &__text {
    margin-top: 20px;
    padding-left: 60px;
    width: 360px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $gray-800;
  }
}

//banners end

//popular categoris start
.popular-categories {
  margin-top: 180px;
  margin-bottom: 180px;
  &__title {
    text-align: center;
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: $gray-900;
    margin-bottom: 60px;
  }
}
.popular-categories-container {
  display: flex;
  justify-content: space-between;
}
.popular-categories-container-item {
  margin-right: 30px;
  &__title {
    padding-top: 24px;
    text-align: center;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: $gray-900;
  }
}

//popular categoris end

//trending start
.trending {
  height: 950px;
  background-color: $gray-300;
  &__title {
    padding-top: 80px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: $gray-900;
    margin-bottom: 60px;
  }
  &__button {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 209px;
    height: 52px;
    border: 1px solid $green-primary;
    border-radius: 4px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: $green-primary;
    margin-bottom: 80px !important;
  }
}
.trending-slider {
  position: relative;
  margin-bottom: 80px;
}

.trending-slider-item {
  margin-right: 30px;
  width: 390px !important;

  &__img {
    width: 390px;
  }
  &__rating {
    position: absolute;
    top: 16px;
    // right: 10%;
    // left: 0;
    padding-left: 295px;
  }
  &__title {
    margin-top: 15px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $gray-800;
  }
  &__price {
    margin-top: 8px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    align-items: center;
    color: $gray-900;
  }
}

.slick-track {
  display: flex;
  justify-content: space-between;
}
.slick-list {
  overflow-x: hidden; //слайдер не на весь экран
}

.trending-slider .slick-arrow {
  content: "";
  position: absolute;
  width: 18px;
  height: 12px;
  font-size: 0;
  z-index: 99;
  top: -95px;
  right: 0;
  margin-right: 28px;
}
.trending-slider .slick-arrow.slick-prev {
  right: 45px !important;
  background: url(../img/icons/slider-stroke.svg);
}
.trending-slider .slick-arrow.slick-next {
  background: url(../img/icons/slider-stroke.svg);
  transform: rotate(-180deg);
}

//trending end

//sale start
.sale {
  &__title {
    padding-top: 100px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: $gray-900;
    margin-bottom: 60px;
  }
  &__button {
    margin-top: 180px;
    margin: 0 auto;
    display: block;
    width: 209px;
    height: 52px;
    border: 1px solid $green-primary;
    border-radius: 4px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: $green-primary;
    margin-bottom: 122px !important;
  }
}
.sale-slider {
  position: relative;
  margin-bottom: 80px;
}

.sale-slider-item {
  
  margin-right: 30px;
  width: 390px !important;
  &__img {
    width: 390px;
  }
  &__rating {
    position: absolute;
    top: 16px;
    padding-left: 295px;
  }
  &__current-sale {
    position: absolute;
    top: 16px;
    padding-left: 24px;
  }
  &__title {
    padding-top: 16px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $gray-800;
    margin-bottom: 8px;
  }
  &__sale-price {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: $red-sale;
    padding-right: 12px;
  }
  &__sale-no-price {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-decoration-line: line-through;
    color: $gray-700;
  }
}
.sale-slider-item:hover{
  
}
.sale-slider .slick-arrow {
  content: "";
  position: absolute;
  width: 18px;
  height: 12px;
  font-size: 0;
  z-index: 99;
  top: -95px;
  right: 0;
  margin-right: 28px;
}
.sale-slider .slick-arrow.slick-prev {
  right: 45px !important;
  background: url(../img/icons/slider-stroke.svg);
}
.sale-slider .slick-arrow.slick-next {
  background: url(../img/icons/slider-stroke.svg);
  transform: rotate(-180deg);
}

//sale end

//market-links start
.market-links {
  background-color: $gray-900;
  height: 300px;
}
.market-links-wrapper {
  display: flex;
  justify-content: center;
}
.market-links-wrapper-item {
  padding-right: 168px;
  &__img {
    display: block;
    margin-top: -10%;
  }
  &__title {
    width: 600px;
    padding-top: 60px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    color: #ffffff;
    margin-bottom: 48px;
  }
  &__appstore {
    margin-right: 16px;
  }
}

//market-links end

//our advantages start
.our-advantages {
  margin-top: 120px;
  margin-bottom: 180px;
}
.our-advantages-wrapper {
  display: flex;
  justify-content: space-between;
}
.our-advantages-wrapper-item {
  padding-right: 55px;
  border-right: 1px solid rgb(223, 223, 225);
  &__icon {
    display: block;
    margin: 0 auto;
  }
  &__title {
    padding-top: 24px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: $gray-900;
    margin-bottom: 8px;
  }
  &__info {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: $gray-700;
  }
}

//our advantages end

//follow-us-instagram start
.follow-us-instagram {
  margin-bottom: 180px;
}
.follow-us-instagram-wrapper {
  display: flex;
}
.follow-us-instagram-item {
  margin-right: 15px;
  &__subtitle {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $gray-900;
    margin-bottom: 8px;
  }
  &__title {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: $gray-900;
    margin-bottom: 60px;
  }
  &__button {
    padding-left: 15px;
    display: block;
    position: relative;
    width: 241px;
    height: 52px;
    border: 1px solid $green-primary;
    border-radius: 4px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: $green-primary;
  }
  &__button::after {
    position: absolute;
    content: "";
    background: url(../img/icons/Instagram.svg);
    width: 24px;
    height: 24px;
    top: 14px;
    left: 28px;
  }
}
.follow-us-instagram-item--content {
  margin-right: 125px;
}

//follow-us-instagram end

//fashion-blog start
.fashion-blog {
  margin-bottom: 120px;
  &__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  &__title {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: $gray-900;
  }
  &__button {
    width: 130px;
    height: 44px;
    border: 1px solid $green-primary;
    border-radius: 4px;
    color: $green-primary;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
  }
}

.fashion-blog-wrapper {
  display: flex;
  justify-content: space-between;
}
.fashion-blog-wrapper-item {
    width: 600px;
    height: 482px;
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 0 1px #000;


  &__title {
    padding-top: 24px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: $gray-900;
    margin-bottom: 12px;
    padding-left: 24px;
  }
  &__title--green {
    color: $green-primary;
  }
  &__category,
  &__data,
  &__comments {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    align-items: center;
    color: $gray-700;
    border-right: 1px solid $gray-700;
    padding-right: 12px;
    padding-left: 24px;
  }
  &__data {
    padding-left: 12px;
  }
  &__comments {
    padding-right: 0px;
    padding-left: 33px;
    position: relative;
    border-right: 0px;
    padding-left: 24px;
  }
  &__comments::before {
    position: absolute;
    content: "";
    background: url(../img/icons/chat.svg);
    width: 16px;
    height: 16px;
    left: 11px;
  }
  &__info {
    padding-top: 16px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $gray-800;
    width: 551px;
    padding-left: 24px;
  }
}
//fashion-blog end

//partners start
.partners{
  margin-bottom: 120px;
}
.partners-wrapper{
  display: flex;
  justify-content: space-between;
}

//partners end

//subscribe start
.subscribe{
  background-color: $gray-200;
}
.subscribe-wrapper{
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.subscribe-wrapper-item{
  &__title{
    padding-top: 100px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: $gray-900;
    margin-bottom: 24px;
  }
  &__text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: $gray-700;
    margin-bottom: 32px;
  }
  &__button{
    border: 1px solid $gray-400;
    border-radius: 4px;
    width: 82px;
    height: 32px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: $gray-700;
    background-color: $gray-200;
    margin-right: 12px;
  }
  &__button--active{
    background: $green-primary;
    color: #FFFFFF;
  }
  &__form{
    padding-top: 32px;
  }
  &__label{
    display: block;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $gray-800;
    margin-bottom: 8px;
  }
  &__input{
    width: 495px;
    height: 52px;
    border: 1px solid $gray-400;
    border-radius: 4px;
     padding-left: 16px;
  }
   &__input::placeholder{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $gray-600;
   }
   &__form-button{
    width: 154px;
    height: 52px;
    background: $green-primary;
    border-radius: 0px 4px 4px 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    align-items: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
   }
   &__wrapper-checkbox{
    padding-top: 24px;
   }
   &__label-checkbox{
    padding-left: 12px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $gray-800;
   }
   &__image{
    padding-top: 65px;
   }
}
//subscribe end

//footer start
.footer{
  background-color: $gray-900;

}
.footer-wrapper{
  display: flex;
  justify-content: space-between;
}
.footer-wrapper-item{
  &__title{
    padding-top: 60px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 12px;
  }
  &__list-item{
    margin-bottom: 4px;

  }
  &__list-link{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.6
  }
  &__list-span{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
  }
  &__list-socials{
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
  }
  &__list-socials-item{
    padding-right: 12px;
  }
  &__appstore{
    margin-right: 20px;
  }
}
.footer-copyright{
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
  &__text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    align-items: center;
    color: #FFFFFF;

  }
  &__link{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.6;
  }
}

//footer end
