* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.start-screen-wrapper {
  height: 800px;
  background-image: url(../img/start-screen-background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.start-screen-wrapper__subtitle {
  padding-top: 140px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin-bottom: 12px;
}
.start-screen-wrapper__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 130%;
  align-items: center;
  letter-spacing: 1px;
  color: #1E212C;
  margin-bottom: 60px;
}
.start-screen-wrapper__shop-sale {
  width: 152px;
  height: 52px;
  border: 1px solid #17696A;
  border-radius: 4px;
  background-color: #fce2d3;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #17696A;
  margin-right: 24px;
}
.start-screen-wrapper__shop-meanswear {
  width: 229px;
  height: 52px;
  background: #17696A;
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.start-screen-slider {
  position: relative;
}

.start-screen-slider-item {
  width: 100% !important;
  min-width: 0;
}

.slick-track {
  display: flex;
  justify-content: space-between;
}

.start-screen-slider .slick-arrow {
  position: absolute;
  font-size: 0;
  z-index: 10;
  content: "";
  width: 48px;
  height: 48px;
  top: 50%;
}

.start-screen-slider .slick-arrow.slick-prev {
  left: 32px;
  background: url(../img/icons/slider-prev-btn.svg);
}

.start-screen-slider .slick-arrow.slick-next {
  right: 32px;
  background: url(../img/icons/slider-next-button.svg);
}

.start-screen-slider .slick-dots {
  display: flex;
  align-items: center;
  position: absolute;
  top: 596px;
  left: 9.5%;
}

.start-screen-slider .slick-dots button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #424551;
  margin-right: 50px;
  background-color: transparent;
  padding-bottom: 12px;
  border-bottom: 2px solid #424551;
  opacity: 0.3;
  width: 178px;
  left: 10px;
}

.start-screen-slider .slick-dots li.slick-active button {
  opacity: 1;
}

.main-screen-screens {
  position: relative;
  margin-top: -50px;
  z-index: 15 !important;
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}
.main-screen-screens__subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #424551;
  padding-top: 16px;
}

.new-arrivals {
  margin-bottom: 180px;
}
.new-arrivals__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  text-align: center;
  margin-bottom: 24px;
}
.new-arrivals__subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #787A80;
}
.new-arrivals__link {
  display: block;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  text-decoration-line: underline;
  color: #17696A;
}

.new-arrivals-slider {
  margin-top: 60px;
  position: relative;
}

.new-arrivals-slider-item {
  position: relative;
  margin-right: 30px;
}
.new-arrivals-slider-item__rating {
  position: absolute;
  top: 16px;
  padding-left: 183px;
}
.new-arrivals-slider-item__like {
  content: "";
  position: absolute;
  background: url(../img/icons/main-menu-like.svg);
  width: 32px;
  height: 32px;
  right: 0;
  top: 280px;
}

.new-arrivals-slider .slick-arrow {
  font-size: 0;
}

.new-arrivals-slider .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.new-arrivals-slider .slick-dots li.slick-active button {
  border: 2px solid #424551 !important;
}

.new-arrivals-slider .slick-dots button {
  display: block;
  font-size: 0px;
  width: 30px;
  margin-right: 12px;
  border: 2px solid #B3B7BC;
}

.banners-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.banners-container-item--summer {
  background: url(../img/banners-summer-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 80%;
  margin-bottom: 16px;
}

.banners-container-item--deal-of-weak {
  background: url(../img/banners-deal-of-weak-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin-left: -18%;
}

.banners-container-item--collection {
  background: url(../img/banners-new-collection-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin-right: -18%;
}

.banners-container-item--subscribers {
  background: url(../img/banners-subscribe-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 80%;
  margin-left: 20%;
}

.banners-container-item__subtitle {
  padding-top: 60px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin-bottom: 12px;
  padding-left: 60px;
}
.banners-container-item__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  align-items: center;
  color: #1E212C;
  margin-bottom: 40px;
  padding-left: 60px;
}
.banners-container-item__button {
  height: 44px;
  border: 1px solid #17696A;
  border-radius: 4px;
  margin-left: 60px;
  background: transparent;
}
.banners-container-item__button--summer {
  width: 190px;
}
.banners-container-item__button--weak {
  width: 130px;
}
.banners-container-item__button--collection {
  width: 155px;
  position: relative;
}
.banners-container-item__button--collection::before {
  content: "";
  position: absolute;
  background: url(../img/icons/banners-right.svg);
  width: 16px;
  height: 16px;
  right: 15px;
  top: 35%;
}
.banners-container-item__link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #17696A;
}
.banners-container-item__offer {
  padding-top: 79px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  padding-left: 60px;
  margin-bottom: 12px;
}
.banners-container-item__number {
  display: flex;
  margin-left: 60px;
}
.banners-container-item__number-current {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  align-items: center;
  color: #1E212C;
  padding-right: 24px;
}
.banners-container-item__time {
  display: flex;
  margin-left: 60px;
}
.banners-container-item__time-current {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  color: #1E212C;
  padding-right: 24px;
}
.banners-container-item__label {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  padding-left: 60px;
  margin-bottom: 8px;
  display: block;
}
.banners-container-item__input {
  margin-top: 20px;
  width: 230px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  margin-left: 60px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #9A9CA5;
  padding-left: 16px;
}
.banners-container-item__subscribe-button {
  width: 130px;
  height: 44px;
  background: #17696A;
  border-radius: 0px 4px 4px 0px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.banners-container-item__text {
  margin-top: 20px;
  padding-left: 60px;
  width: 360px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}

.popular-categories {
  margin-top: 180px;
  margin-bottom: 180px;
}
.popular-categories__title {
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  margin-bottom: 60px;
}

.popular-categories-container {
  display: flex;
  justify-content: space-between;
}

.popular-categories-container-item {
  margin-right: 30px;
}
.popular-categories-container-item__title {
  padding-top: 24px;
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1E212C;
}

.trending {
  height: 950px;
  background-color: #E5E8ED;
}
.trending__title {
  padding-top: 80px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  margin-bottom: 60px;
}
.trending__button {
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 209px;
  height: 52px;
  border: 1px solid #17696A;
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #17696A;
  margin-bottom: 80px !important;
}

.trending-slider {
  position: relative;
  margin-bottom: 80px;
}

.trending-slider-item {
  margin-right: 30px;
  width: 390px !important;
}
.trending-slider-item__img {
  width: 390px;
}
.trending-slider-item__rating {
  position: absolute;
  top: 16px;
  padding-left: 295px;
}
.trending-slider-item__title {
  margin-top: 15px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #424551;
}
.trending-slider-item__price {
  margin-top: 8px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #1E212C;
}

.slick-track {
  display: flex;
  justify-content: space-between;
}

.slick-list {
  overflow-x: hidden;
}

.trending-slider .slick-arrow {
  content: "";
  position: absolute;
  width: 18px;
  height: 12px;
  font-size: 0;
  z-index: 99;
  top: -95px;
  right: 0;
  margin-right: 28px;
}

.trending-slider .slick-arrow.slick-prev {
  right: 45px !important;
  background: url(../img/icons/slider-stroke.svg);
}

.trending-slider .slick-arrow.slick-next {
  background: url(../img/icons/slider-stroke.svg);
  transform: rotate(-180deg);
}

.sale__title {
  padding-top: 100px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  margin-bottom: 60px;
}
.sale__button {
  margin-top: 180px;
  margin: 0 auto;
  display: block;
  width: 209px;
  height: 52px;
  border: 1px solid #17696A;
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #17696A;
  margin-bottom: 122px !important;
}

.sale-slider {
  position: relative;
  margin-bottom: 80px;
}

.sale-slider-item {
  margin-right: 30px;
  width: 390px !important;
}
.sale-slider-item__img {
  width: 390px;
}
.sale-slider-item__rating {
  position: absolute;
  top: 16px;
  padding-left: 295px;
}
.sale-slider-item__current-sale {
  position: absolute;
  top: 16px;
  padding-left: 24px;
}
.sale-slider-item__title {
  padding-top: 16px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #424551;
  margin-bottom: 8px;
}
.sale-slider-item__sale-price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #FF4242;
  padding-right: 12px;
}
.sale-slider-item__sale-no-price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-decoration-line: line-through;
  color: #787A80;
}

.sale-slider .slick-arrow {
  content: "";
  position: absolute;
  width: 18px;
  height: 12px;
  font-size: 0;
  z-index: 99;
  top: -95px;
  right: 0;
  margin-right: 28px;
}

.sale-slider .slick-arrow.slick-prev {
  right: 45px !important;
  background: url(../img/icons/slider-stroke.svg);
}

.sale-slider .slick-arrow.slick-next {
  background: url(../img/icons/slider-stroke.svg);
  transform: rotate(-180deg);
}

.market-links {
  background-color: #1E212C;
  height: 300px;
}

.market-links-wrapper {
  display: flex;
  justify-content: center;
}

.market-links-wrapper-item {
  padding-right: 168px;
}
.market-links-wrapper-item__img {
  display: block;
  margin-top: -10%;
}
.market-links-wrapper-item__title {
  width: 600px;
  padding-top: 60px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 48px;
}
.market-links-wrapper-item__appstore {
  margin-right: 16px;
}

.our-advantages {
  margin-top: 120px;
  margin-bottom: 180px;
}

.our-advantages-wrapper {
  display: flex;
  justify-content: space-between;
}

.our-advantages-wrapper-item {
  padding-right: 55px;
  border-right: 1px solid rgb(223, 223, 225);
}
.our-advantages-wrapper-item__icon {
  display: block;
  margin: 0 auto;
}
.our-advantages-wrapper-item__title {
  padding-top: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1E212C;
  margin-bottom: 8px;
}
.our-advantages-wrapper-item__info {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #787A80;
}

.follow-us-instagram {
  margin-bottom: 180px;
}

.follow-us-instagram-wrapper {
  display: flex;
}

.follow-us-instagram-item {
  margin-right: 15px;
}
.follow-us-instagram-item__subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin-bottom: 8px;
}
.follow-us-instagram-item__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  margin-bottom: 60px;
}
.follow-us-instagram-item__button {
  padding-left: 15px;
  display: block;
  position: relative;
  width: 241px;
  height: 52px;
  border: 1px solid #17696A;
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #17696A;
}
.follow-us-instagram-item__button::after {
  position: absolute;
  content: "";
  background: url(../img/icons/Instagram.svg);
  width: 24px;
  height: 24px;
  top: 14px;
  left: 28px;
}

.follow-us-instagram-item--content {
  margin-right: 125px;
}

.fashion-blog {
  margin-bottom: 120px;
}
.fashion-blog__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.fashion-blog__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}
.fashion-blog__button {
  width: 130px;
  height: 44px;
  border: 1px solid #17696A;
  border-radius: 4px;
  color: #17696A;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
}

.fashion-blog-wrapper {
  display: flex;
  justify-content: space-between;
}

.fashion-blog-wrapper-item {
  width: 600px;
  height: 482px;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 1px #000;
}
.fashion-blog-wrapper-item__title {
  padding-top: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  margin-bottom: 12px;
  padding-left: 24px;
}
.fashion-blog-wrapper-item__title--green {
  color: #17696A;
}
.fashion-blog-wrapper-item__category, .fashion-blog-wrapper-item__data, .fashion-blog-wrapper-item__comments {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  color: #787A80;
  border-right: 1px solid #787A80;
  padding-right: 12px;
  padding-left: 24px;
}
.fashion-blog-wrapper-item__data {
  padding-left: 12px;
}
.fashion-blog-wrapper-item__comments {
  padding-right: 0px;
  padding-left: 33px;
  position: relative;
  border-right: 0px;
  padding-left: 24px;
}
.fashion-blog-wrapper-item__comments::before {
  position: absolute;
  content: "";
  background: url(../img/icons/chat.svg);
  width: 16px;
  height: 16px;
  left: 11px;
}
.fashion-blog-wrapper-item__info {
  padding-top: 16px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  width: 551px;
  padding-left: 24px;
}

.partners {
  margin-bottom: 120px;
}

.partners-wrapper {
  display: flex;
  justify-content: space-between;
}

.subscribe {
  background-color: #F4F5F7;
}

.subscribe-wrapper {
  display: flex;
  justify-content: space-between;
}

.subscribe-wrapper-item__title {
  padding-top: 100px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  margin-bottom: 24px;
}
.subscribe-wrapper-item__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #787A80;
  margin-bottom: 32px;
}
.subscribe-wrapper-item__button {
  border: 1px solid #D7DADD;
  border-radius: 4px;
  width: 82px;
  height: 32px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
  background-color: #F4F5F7;
  margin-right: 12px;
}
.subscribe-wrapper-item__button--active {
  background: #17696A;
  color: #FFFFFF;
}
.subscribe-wrapper-item__form {
  padding-top: 32px;
}
.subscribe-wrapper-item__label {
  display: block;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 8px;
}
.subscribe-wrapper-item__input {
  width: 495px;
  height: 52px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  padding-left: 16px;
}
.subscribe-wrapper-item__input::-moz-placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #9A9CA5;
}
.subscribe-wrapper-item__input::placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #9A9CA5;
}
.subscribe-wrapper-item__form-button {
  width: 154px;
  height: 52px;
  background: #17696A;
  border-radius: 0px 4px 4px 0px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  align-items: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.subscribe-wrapper-item__wrapper-checkbox {
  padding-top: 24px;
}
.subscribe-wrapper-item__label-checkbox {
  padding-left: 12px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.subscribe-wrapper-item__image {
  padding-top: 65px;
}

.footer {
  background-color: #1E212C;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-wrapper-item__title {
  padding-top: 60px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 12px;
}
.footer-wrapper-item__list-item {
  margin-bottom: 4px;
}
.footer-wrapper-item__list-link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.6;
}
.footer-wrapper-item__list-span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}
.footer-wrapper-item__list-socials {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}
.footer-wrapper-item__list-socials-item {
  padding-right: 12px;
}
.footer-wrapper-item__appstore {
  margin-right: 20px;
}

.footer-copyright {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
}
.footer-copyright__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  align-items: center;
  color: #FFFFFF;
}
.footer-copyright__link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.6;
}

.fashion-blog-wrapper {
  padding-top: 32px;
  margin-bottom: 180px;
}

.fashion-blog-info-block__main-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  margin-bottom: 32px;
}
.fashion-blog-info-block__img {
  display: block;
  margin-bottom: 16px;
}
.fashion-blog-info-block__category, .fashion-blog-info-block__data, .fashion-blog-info-block__comments {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  color: #787A80;
}
.fashion-blog-info-block__category, .fashion-blog-info-block__data {
  border-right: 1px solid #787A80;
  padding-right: 12px;
}
.fashion-blog-info-block__data, .fashion-blog-info-block__comments {
  padding-left: 12px;
}
.fashion-blog-info-block__comments {
  padding-left: 34px;
  position: relative;
}
.fashion-blog-info-block__comments::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../img/icons/chat.svg);
  left: 12px;
}
.fashion-blog-info-block__title {
  padding-top: 8px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  margin-bottom: 8px;
}
.fashion-blog-info-block__title:hover {
  color: #17696A;
}
.fashion-blog-info-block__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  width: 810px;
  margin-bottom: 46px;
}

.faschion-blog-pagination {
  display: flex;
}
.faschion-blog-pagination__item {
  padding-right: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #17696A;
}

.fashion-blog-item-sidebar {
  width: 349px;
}

.fashion-blog-item__input {
  margin-top: 8px;
  width: 342px;
  height: 44px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #9A9CA5;
  padding-left: 16px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
}
.fashion-blog-item__form {
  position: relative;
}
.fashion-blog-item__input::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../img/icons/main-menu-search.svg);
  right: 17px;
  top: 14px;
}
.fashion-blog-item__title-categories {
  padding-top: 32px;
  margin-top: 32px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #1E212C;
  border-top: 1px solid #E5E8ED;
  margin-bottom: 24px;
}

.fashion-blog-item-sort-item {
  display: flex;
  justify-content: space-between;
}
.fashion-blog-item-sort-item__button {
  background-color: white;
}
.fashion-blog-item-sort-item__value {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  align-items: center;
  color: #424551;
}
.fashion-blog-item-sort-item__num {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  align-items: center;
  text-align: right;
  color: #424551;
}

.fashion-blog-item-featured-posts__title {
  padding-top: 32px;
  margin-top: 32px;
  border-top: 1px solid #E5E8ED;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #1E212C;
  margin-bottom: 24px;
}

.fashion-blog-item-featured-post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.fashion-blog-item-featured-post-info {
  padding-left: 20px;
  position: relative;
}
.fashion-blog-item-featured-post-info__data {
  padding-left: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  color: #787A80;
  margin-bottom: 4px;
}
.fashion-blog-item-featured-post-info__data::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../img/icons/clock.svg);
  left: 19px;
}
.fashion-blog-item-featured-post-info__text {
  width: 222px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1E212C;
}

.fashion-blog-item-tags__title {
  padding-top: 32px;
  margin-top: 32px;
  border-top: 1px solid #E5E8ED;
  margin-bottom: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #1E212C;
}

.fashion-blog-item-tags-wrapper__button {
  height: 32px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  align-items: flex-end;
  color: #787A80;
  background-color: white;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  margin-right: 13px;
  margin-bottom: 12px;
}
.fashion-blog-item-tags-wrapper__button--trends {
  width: 80px;
}
.fashion-blog-item-tags-wrapper__button--inspiration {
  width: 107px;
}
.fashion-blog-item-tags-wrapper__button--designers {
  width: 100px;
}
.fashion-blog-item-tags-wrapper__button--kidsfaschion {
  width: 111px;
}
.fashion-blog-item-tags-wrapper__button--streetstile {
  width: 107px;
}
.fashion-blog-item-tags-wrapper__button--models {
  width: 85px;
}

.header-nav {
  background: #1E212C;
  height: 44px;
}

.header-nav-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 11px;
}

.header-nav-tel__info, .header-nav-tel__link {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.6;
}
.header-nav-tel__link {
  font-weight: 900;
}

.header-nav-menu__links {
  display: flex;
  justify-content: space-between;
}
.header-nav-menu__item {
  margin-right: 32px;
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
}
.header-nav-menu__link {
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  opacity: 0.6;
}

.header-nav-account__log-in {
  padding-left: 8px;
}
.header-nav-account__log-in, .header-nav-account__registration {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.6;
}

.main-menu-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.main-menu-type-clothes__links {
  display: flex;
  justify-content: space-between;
}
.main-menu-type-clothes__item {
  margin-right: 40px;
}
.main-menu-type-clothes__link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.main-menu-type-clothes__link--active {
  color: red;
}

.main-manu-search {
  position: relative;
}
.main-manu-search__input {
  width: 380px;
  height: 44px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  padding-left: 16px;
  font-family: "Lato";
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  color: #9A9CA5;
}

.main-manu-search::before {
  content: "";
  position: absolute;
  background: url(../img/icons/main-menu-search.svg);
  width: 16px;
  height: 16px;
  right: 17px;
  top: 14px;
}

.menu-sales {
  background: #17696A;
  height: 34px;
  margin-top: 32px;
}

.menu-sales-info {
  display: flex;
  justify-content: center;
  padding-top: 8px;
}
.menu-sales-info__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
}
.menu-sales-info__link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-decoration-line: underline;
  color: #FFFFFF;
  padding-left: 4px;
}

.breadcrumb {
  background-color: #F4F5F7;
  padding-top: 16px;
  height: 53px;
}
.breadcrumb__wrapper {
  position: relative;
}
.breadcrumb__icon-link {
  margin-right: 9px;
  position: absolute;
  left: 1px;
  top: 0px;
}
.breadcrumb__icon-next {
  margin-left: 20px;
  position: absolute;
  top: 1px;
  left: 3px;
}
.breadcrumb__current-link {
  margin-left: 45px;
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #9A9CA5;
}

.breadcrumb__current-icon-hottest-sneakers {
  margin-left: 20px;
  position: absolute;
  top: 1px;
  left: 112px;
}
.breadcrumb__current-link-hottest-sneakers {
  position: absolute;
  left: 112px;
}

.blog-info__title {
  padding-top: 32px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  width: 810px;
  margin-bottom: 32px;
}
.blog-info__img {
  padding-top: 32px;
}
.blog-info__paragpaph-1 {
  margin-top: 32px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  width: 810px;
  margin-bottom: 24px;
}
.blog-info__paragpaph-2, .blog-info__paragpaph-3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  width: 810px;
}
.blog-info__paragpaph-3 {
  margin-top: 20px;
  margin-bottom: 48px;
}
.blog-info__paragraph-with-icon {
  position: relative;
  margin-bottom: 48px;
}
.blog-info__paragpaph-4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  margin-left: 58px;
  width: 752px;
}
.blog-info__paragpaph-4::before {
  content: "";
  position: absolute;
  background: url(../img/icons/blog-info-braces.svg);
  width: 28px;
  height: 20px;
  left: 1px;
  top: 1px;
}
.blog-info__paragpaph-ul {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 24px;
  width: 810px;
}
.blog-info__paragpaph-5 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 60px;
  width: 810px;
}

.blog-info-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.blog-info-wrapper-item {
  padding-bottom: 30px;
}
.blog-info-wrapper-item__category {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  align-items: center;
  color: #17696A;
  border-right: 1px solid #787A80;
  padding-right: 12px;
}
.blog-info-wrapper-item__data, .blog-info-wrapper-item__comments {
  margin-left: 12px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  align-items: center;
  color: #787A80;
}
.blog-info-wrapper-item__data {
  border-right: 1px solid #787A80;
  padding-right: 12px;
}
.blog-info-wrapper-item__comments {
  margin-left: 28px;
  position: relative;
}
.blog-info-wrapper-item__comments::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 15px;
  background: url(../img/icons/chat.svg);
  left: -23px;
  top: 1px;
}
.blog-info-wrapper-item__list {
  display: flex;
}
.blog-info-wrapper-item__list-item {
  margin-left: 12px;
}
.blog-info-wrapper-item__divider {
  border: 1px solid #E5E8ED;
}

.blog-info-list {
  margin-bottom: 24px;
}
.blog-info-list__link {
  margin-left: 32px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  position: relative;
}
.blog-info-list__link::before {
  content: "";
  position: absolute;
  background: url(../img/icons/check.svg);
  width: 16px;
  height: 16px;
  top: 5px;
  left: -33px;
}

.blog-info-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.blog-info-links-item {
  display: flex;
}
.blog-info-links-item__share-text, .blog-info-links-item__tags-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  align-items: center;
  color: #1E212C;
  margin-right: 12px;
}

.blog-info-other-posts {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 120px;
}

.blog-info-other-posts-item__left-link {
  padding-left: 32px;
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  margin-bottom: 20px;
  display: block;
}
.blog-info-other-posts-item__left-link::before {
  content: "";
  position: absolute;
  background: url(../img/icons/slider-prev-btn.svg);
  width: 33px;
  height: 31px;
  top: -9px;
  left: -13px;
}
.blog-info-other-posts-item__wrapper {
  display: flex;
}
.blog-info-other-posts-item__wrapper-item-left {
  margin-left: 20px;
}
.blog-info-other-posts-item__wrapper-item-data {
  padding-left: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  color: #787A80;
  position: relative;
  margin-bottom: 4px;
}
.blog-info-other-posts-item__wrapper-item-data::before {
  content: "";
  position: absolute;
  content: url(../img/icons/clock.svg);
  width: 16px;
  height: 16px;
  top: 1px;
  left: 1px;
}
.blog-info-other-posts-item__wrapper-item-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1E212C;
  width: 222px;
}
.blog-info-other-posts-item__right-link {
  padding-right: 32px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  display: flex;
  justify-content: end;
  position: relative;
  margin-bottom: 20px;
}
.blog-info-other-posts-item__right-link::before {
  content: "";
  position: absolute;
  background: url(../img/icons/slider-next-button.svg);
  width: 33px;
  height: 31px;
  top: -10px;
  right: 1px;
}

.related-posts {
  background-color: #F4F5F7;
}

.related-posts-top-wrapper {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.related-posts-top-wrapper-item__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}
.related-posts-top-wrapper-item__link {
  display: block;
  width: 157px;
  height: 44px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #17696A;
  border: 1px solid #17696A;
  border-radius: 4px;
}

.related-posts-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.related-posts-wrapper-item {
  border-radius: 4px;
  background: #FFFFFF;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  width: 600px;
  height: 482px;
}
.related-posts-wrapper-item__img {
  width: 600px;
}
.related-posts-wrapper-item__title {
  padding-top: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  margin-bottom: 12px;
  padding-left: 24px;
}
.related-posts-wrapper-item__category {
  padding-left: 24px;
}
.related-posts-wrapper-item__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  padding-left: 24px;
  width: 552px;
}

.comments__title {
  padding-top: 120px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: #1E212C;
  margin-bottom: 60px;
}

.comments-wrapper {
  display: flex;
  justify-content: space-between;
}

.comments-wrapper-item {
  margin-bottom: 60px;
}
.comments-wrapper-item__name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  margin-bottom: 8px;
}
.comments-wrapper-item__date-of-publication {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  color: #787A80;
}
.comments-wrapper-item__comment {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  width: 630px;
  margin-bottom: 16px;
}
.comments-wrapper-item__reply {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  color: #787A80;
  padding-left: 24px;
  position: relative;
  background-color: white;
}
.comments-wrapper-item__reply::before {
  content: "";
  position: absolute;
  background: url(../img/icons/reply-icon.svg);
  width: 16px;
  height: 16px;
  top: 1px;
  left: 1px;
}

.comments-title-new-comment {
  padding-top: 120px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: #1E212C;
  margin-bottom: 48px;
}

.comments-form__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.comments-form__wrapper-label, .comments-form__label-comment {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 8px;
  display: block;
}
.comments-form__wrapper-input, .comments-form__input-comment {
  width: 390px;
  height: 52px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  padding-left: 16px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #9A9CA5;
}
.comments-form__input-comment {
  width: 810px;
  height: 100px;
  margin-bottom: 48px;
}
.comments-form__button {
  background: #17696A;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  width: 189px;
  height: 52px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  align-items: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.subscribe-sneakers {
  margin-top: 120px;
}

.wrapper {
  max-width: 1260px !important;
  margin: 0 auto;
}

.big-wrapper {
  max-width: 1860px;
  margin: 0 auto;
}

.small-wrapper {
  width: 810px;
  margin: 0 auto;
}

body {
  font-weight: 400;
}