@import '_nullstyles';
@import '_variables';
@import '_index.scss';
@import '_blog.scss';
@import '_header.scss';

.wrapper{
    max-width: 1260px !important;
    margin: 0 auto;
}

.big-wrapper{
    max-width: 1860px;
    margin: 0 auto;
}

body{
    font-weight: 400;
}


