@import '_nullstyles';
@import '_variables';
@import '_index';
@import '_blog';
@import '_header';
@import '_blog-hottest-sneakers';
@import '_contacts';
@import '_outlet-stores';
@import '_faq';
@import '_clothes';
@import '_sweatshort-pink.scss';

.wrapper{
    max-width: 1260px !important;
    margin: 0 auto;
}

.big-wrapper{
    max-width: 1860px;
    margin: 0 auto;
}

.small-wrapper{
    width: 810px;
    margin: 0 auto;
}

body{
    font-weight: 400;
}


