@import '_nullstyles';
@import '_variables';
@import 'header';
@import '_index.scss';

.wrapper{
    max-width: 1230px;
    margin: 0 auto;
}

.big-wrapper{
    max-width: 1860px;
    margin: 0 auto;
}

body{
    font-weight: 400;
}


